@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
  box-sizing: border-box;
}
body
{
background: url(../../images/image2.jpg);}

.wrapper {
  max-width: 700px;
  margin: 50px auto;
  background: #0C9;
  box-sizing: border-box;
  padding: 40px;
  box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 50px;
  font-size: 35px;
}

.address {
  display: flex;
  justify-content: space-around;
  text-align: center;
  color: #FFF;
  margin-bottom: 50px;
}

.inner-address p {
  font-size: 12px;
}

.inner-address .fas {
  font-size: 30px;
  margin-bottom: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.form-title {
  font-size: 25px;
  margin-bottom: 20px;
  color: #fff;
  text-align: center;
}

.input-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.inner-msg {
  width: 100%;
  margin-bottom: 20px;
}

.input > input {
  border: 0;
  width: 260px;
  padding: 10px 20px;
  outline: none;
  border-radius: 0.5em;
}

.msg > textarea {
  width: 100%;
  border: 0;
  padding: 10px 20px;
  outline: none;
  height: 80px;
  border-radius: 0.5em;
}

.btn {
  border: 2px solid #fff;
  padding: 10px 20px;
  color: #FFF;
  cursor: pointer;
  transition: all 0.5s ease;
  border-radius: 0.5em;
}

.btn:hover{
  background: #fff;
  color: #6465a5;
}

.social {
  display: flex;
  justify-content: center;
  color: #FFF;
}

.inner-social .fab, .fas{
  margin: 0 20px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.fab:hover, .fas:hover{
  color: lightblue;
}

::-webkit-input-placeholder {
  color: #a9aacd;
}
::-moz-placeholder {
  color: #a9aacd;
}
:-ms-input-placeholder {
  color: #a9aacd;
}

@media screen and (max-width: 640px) {
  .input-form {
    flex-direction: column;
  }
  .input:first-child > input {
    margin-bottom: 20px;
  }
  .form .input > input {
    width: 100% !important;
  }
}

@media screen and (max-width: 580px) {
  .address {
    flex-direction: column;
    align-items: center;
  }

  .inner-address {
    margin-bottom: 20px;
  }

  .social {
    flex-direction: column;
    align-items: center;
  }

  .inner-social {
    margin-bottom: 20px;
  }
}
